<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.7.1" targetFramework="net452" />
  <package id="MailKit" version="2.0.1" targetFramework="net452" />
  <package id="MimeKit" version="2.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="System.IO" version="4.1.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net452" />
</packages>